body {
    background-color: #231e2c;
    color: #e9dbeb;
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 0.8em;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

div#banner { 
    position: absolute; 
    margin: 0 auto; 
    top: 0; 
    left: 0; 
    background-color: #634463; 
    width: 100%; 
}

@font-face {
  font-family: Renogare; /* set name */
  src: url(Renogare-Regular.otf); /* url of the font */
}

div#banner-content { 
    font-family: Renogare;
    text-align: center;
    font-size: 6em;
    color: #e9dbeb;
    margin: 0 auto; 
    padding-top: 0.1em;
    padding-bottom: 0.3em;
}

div#menu { 
    position: absolute; 
    margin: 0em; 
    margin-top: 12em;
    top: 0; 
    left: 0; 
    background-color: #1d181d; 
    width: 100%; 
}

div#menu-content { 
    font-size: 2em;
    color: #e9dbeb;
    margin: 0 auto; 
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    display: flex;
    flex-wrap: wrap; 
    align-content: center;
    justify-content: center;
}

.menu-button { 
    font-family: Renogare;
    background-color: #996aa0;
    color: #1c0020;
    border: none;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.5em;
}

.menu-button:hover{
    background-color: #c499c3;
}

div#main-content { 
    margin-top: 22em;
    font-size: 0.8em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

div{
    margin: 2em;
    align-content: center;
}

div-name {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    max-width: 13em;
    max-height: 2em;
    margin-bottom: 1.5em;
    text-align: center;
}

div-crumble{ 
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 16em;
    height: 4em;
    margin-bottom: 2em;
}

buttongroup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: #996aa0;
    color: #1c0020;
    border: none;
    border-radius: 0.5em;
    font-size: 1.4em;
    font-weight: bold;
    min-width: 5em;
}

button:hover{
    background-color: #c499c3;
}